.c-hero {
    display: flex;
    max-width: 75em;
    margin: 1.2em auto 1.2em;
}

.c-hero__logo {
    flex-basis: 17.5em;
    height: 100%;
}

.c-hero__text {
    flex-grow: 1;
    margin-left: 2em;
}

.c-hero__tagline {
    font-size: 2em;
    font-family: $serif-stack;
    font-weight: 400;
    line-height: 1.4;
    text-transform: none;
    margin: 0;
    max-width: 52rem;
}

.c-hero__cta {
    margin-top: 1.5em;
}
