{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="utf-8" />
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}" />

  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro|Source+Serif+Pro" rel="stylesheet">
  
  <link rel="stylesheet" href="/dist/css/main.css"/>
</head>

<body>
	<div id="container">
		<header id="header">
			<nav class="c-nav">
        <h2 class="c-nav__title">
          <a class="c-nav__title-link" href="{{ siteUrl }}">
            <img src="/assets" alt="">
            {{ siteName }}
          </a>
        </h2>


				<ul class="c-nav__list">
					<li><a class="c-nav__item c-button" href="/#upcoming-sales">Upcoming Sales</a></li>
          <li><a class="c-nav__item c-button" href="/#setup-sale">Setup a Sale</a></li>
          <li><a class="c-nav__item c-button" href="/#contact-us">Contact Us</a></li>
          <li><a class="c-nav__item c-button" href="/#about">About Us</a></li>
				</ul>
			</nav>
		</header>

		<main id="content" role="main">
			{% block content %}
				<p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
				<p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
			{% endblock %}
		</main>

		<footer id="footer">
			Copyright {{ now.year }} {{ craft.request.serverName | ucfirst }}. All rights reserved  •  Built with <a href="http://craftcms.com">Craft</a>
		</footer>
	</div>
</body>
</html>
