{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}

{% block content %}

  <header class="c-hero">
    <img class="c-hero__logo" src="/assets/images/revised_logo.svg" alt="logo">

    <div class="c-hero__text">
      <h1 class="c-hero__tagline">{{ entry.title }}</h1>
      <button class="c-button c-hero__cta">Sign Up For Our Newsletter</button>
    </div>
  </header>

  <hr>

  <div id="upcoming-sales">
    <h2 class="c-header__section">Upcoming Sales</h2>

    {% for entry in craft.entries.section('sales') %}
      <div class="c-content-block {{ loop.index is divisible by(2) ? 'c-content-block--alternate' : '' }}">
        <div class="c-content-block__side">
          {# Pull out first photo from gallery #}
          {% set asset = entry.photos.first|default(false) %}

          {% if asset %}
            <img src="{{ asset.getUrl() }}" />
          {% endif %}

          <div class="c-button__group u-mt3">
            <a href="{{ entry.url }}#photos" class="c-button">Photos</a>
            <a target="_BLANK" href="https://www.google.com/maps/search/?api=1&query={{ entry.saleaddress|url_encode }}" class="c-button" >Map</a>
          </div>
        </div>
        <div class="c-content-block__main">
          <h4 class="c-header__sub">
            {% if entry.saleaddress.street2 %}
              {{ entry.saleaddress.street }}, {{ entry.saleaddress.street2 }},
            {% else %}
              {{ entry.saleaddress.street }},
            {% endif %}

            {% if entry.saleaddress.region != 'Arkansas' and entry.saleaddress.region != 'AR' %}
              {{ entry.saleaddress.city }}, {{ entry.saleaddress.region }}
            {% else %}
              {{ entry.saleaddress.city }}
            {% endif %}
          </h4>

          <h3 class="c-header__main">
            <a href="{{ entry.url }}">{{ entry.title }}</a>
          </h3>

          <div class="u-clearfix u-mt4 u-mb4 u-text--lg">
            {% for row in entry.preview %}
              {% if row.previewDate > now %}
                <div class="u-float-left u-mr5">
                  <h5 class="c-header__label u-mb1">Preview</h5>
                    <div>
                      {{ row.previewDate|date("l, M. j") }}
                    </div>

                    <div>
                      {{ row.previewStartTime.localeTime }} - {{ row.previewEndTime.localeTime }}
                    </div>
                </div>
              {% endif %}
            {% endfor %}

            <div class="u-float-left">
              {# Show nearest sale weekend date that is not already past #}
              {% set break = false %}
              {% for row in entry.saleDates %}
                {% if row.saleWeekendEndDate > now and not break %}
                  {% set break = true %}
                  <h5 class="c-header__label u-mb1">Sale</h5>

                  {% if row.percentDiscount > 0 %}
                    <div class="c-badge c-badge--promo">
                      {{ row.percentDiscount }}% Off!
                    </div>
                  {% endif %}

                  <div>
                    {{ row.saleWeekendStartDate|date("l, M. j") }} - {{ row.saleWeekendEndDate|date("l, M. j") }}
                  </div>

                  <div>
                    {{ companyInformation.businessOpeningHours.localeTime }} - {{ companyInformation.businessClosingHours.localeTime }} daily
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>

          <p>{{ entry.saleDescription }}</p>
        </div>
      </div>
    {% endfor %}
  </div>

  <hr>

  <div id="setup-sale">
    <h2 class="c-header__section">Setup a Sale with Us</h2>

    <div class="c-content-block c-content-block--alternate">
      <div class="c-content-block__side">
        {% macro errorList(errors) %}
            {% if errors %}
              {% for error in errors %}
                {{ error }}
              {% endfor %}
            {% endif %}
        {% endmacro %}

        {% from _self import errorList %}

        <form method="post" action="" accept-charset="UTF-8">
            <h4 class="u-mb3">Contact Us</h4>

            {{ getCsrfInput() }}
            <input type="hidden" name="action" value="contactForm/sendMessage">
            <input type="hidden" name="redirect" value="contact/thanks">

            <label>
              Your Name
              <input type="text" name="fromName" value="{% if message is defined %}{{ message.fromName }}{% endif %}">
              <span class="c-forms__note c-forms__note--error">{{ message is defined and message ? errorList(message.getErrors('fromName')) }}</span>
            </label>

            <label>
              Your Email
              <input type="email" name="fromEmail" value="{% if message is defined %}{{ message.fromEmail }}{% endif %}">
              <span class="c-forms__note c-forms__note--error">{{ message is defined and message ? errorList(message.getErrors('fromEmail')) }}</span>
            </label>

            <label>
              Subject
              <input type="text" name="subject" value="{% if message is defined %}{{ message.subject }}{% endif %}">
              <span class="c-forms__note c-forms__note--error">{{ message is defined and message ? errorList(message.getErrors('subject')) }}</span>
            </label>

            <label>
              Message
              <textarea name="message">{% if message is defined %}{{ message.message }}{% endif %}</textarea>
              <span class="c-forms__note c-forms__note--error">{{ message is defined and message ? errorList(message.getErrors('message')) }}</span>
            </label>

            <button type="submit" class="c-button c-button--full u-mt2">
              Send Message
            </button>
        </form>
      </div>
      <div class="c-content-block__main">
        {{ entry.saleSetup}}
      </div>
    </div>
  </div>
{% endblock %}
