{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}

{% block content %}

  <header class="c-hero">
    <img class="c-hero__logo" src="/assets/images/revised_logo.svg" alt="logo">

    <div class="c-hero__text">
      <h1 class="c-hero__tagline">{{ entry.tagline }}</h1>
      <button class="c-button c-hero__cta">Sign Up For Our Newsletter</button>
    </div>
  </header>

  <hr>

  <div id="upcoming-sales">
    <h2 class="c-header__section">Upcoming Sales</h2>

    {% for entry in craft.entries.section('sales') %}
      <div class="c-media">
        <div class="c-media__image">
          {% set asset = entry.photos.first|default(false) %}

          {% if asset %}
            <img src="{{ asset.getUrl() }}" width=375 />
          {% endif %}

          <div class="c-button__group u-mt3">
            <a href="#" class="c-button">Photo Gallery</a>
            <a target="_BLANK" href="https://www.google.com/maps/search/?api=1&query={{ entry.saleaddress|url_encode }}" class="c-button" >Map to Sale</a>
          </div>
        </div>
        <div class="c-media__body">
          <h4 class="c-header__sub">
            {% if entry.saleaddress.street2 %}
              {{ entry.saleaddress.street }}, {{ entry.saleaddress.street2 }},
            {% else %}
              {{ entry.saleaddress.street }},
            {% endif %}

            {% if entry.saleaddress.region != 'Arkansas' and entry.saleaddress.region != 'AR' %}
              {{ entry.saleaddress.city }}, {{ entry.saleaddress.region }}
            {% else %}
              {{ entry.saleaddress.city }}
            {% endif %}
          </h4>

          <h3 class="c-header__main">
            <a href="{{ entry.url }}">{{ entry.title }}</a>
          </h3>

          <div class="u-clearfix u-mt4 u-mb4 u-text--lg">
            <div class="u-float-left">
              <h5 class="c-header__label u-mb1">Preview</h5>

              <div>
                {{ entry.salePreviewDate|date("l, M. j") }}
              </div>

              <div>
                {{ entry.previewStartTime.localeTime }} - {{ entry.previewEndTime.localeTime }}
              </div>
            </div>

            <div class="u-float-left u-ml5">
              <h5 class="c-header__label u-mb1">Sale</h5>

              <div>
                {{ entry.saleStartDateFullPrice|date("l, M. j") }} - {{ entry.saleEndDateFullPrice|date("l, M. j") }}
              </div>

              <div>
                {{ entry.saleStartTime.localeTime }} - {{ entry.saleEndTime.localeTime }} daily
              </div>
            </div>
          </div>

          <p>{{ entry.saleDescription }}</p>



          <p>
            Preview
            {{ entry.salePreviewDate }}
          </p>

          <p>
            Preview Hours
            {{ entry.previewStartTime.localeTime }} - {{ entry.previewEndTime.localeTime }}
          </p>

          <p>
            Sale Hours
            {{ entry.saleStartTime.localeTime }} - {{ entry.saleEndTime.localeTime }}
          </p>

          <p>
            Full
            {{ entry.saleStartDateFullPrice	}} - {{ entry.saleEndDateFullPrice }}
          </p>

          <p>
            20%
            {{ entry.saleStartDate20Off }} - {{ entry.saleEndDate20Off }}
          </p>

          <p>
            50%
            {{ entry.saleStartDate50Off }} - {{ entry.saleEndDate50Off }}
          </p>
        </div>
      </div>
    {% endfor %}
  </div>

  <div id="setup-sale">
    <h2 class="c-header__section">Setup a Sale with Us</h2>

    {{ entry.saleSetup}}
  </div>
{% endblock %}
